@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
$color-primary : #F3C65D;
$color-verte : #2fda8a;
$color-rouge:#E9585B;
$color-black : #212529;
$color-darkgrey:#44464a;
$color-grey: #707070;
$color-lightgrey:#f7f9fa;

$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;

@function particles($max) {
    $val: 0px 0px $color-particle;

    @for $i from 1 through $max {
        $val: #{$val},
        random($spacing)+px random($spacing)+px $color-particle;
    }

    @return $val;
}

@mixin particles($max) {
    box-shadow: particles($max);
}

